.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding-top: 2rem; /* Espacio debajo de la navbar */
}

/* Eliminamos el icono de construcción */
.main-page::before {
  content: none;
}
